:root {
    --blue: #9ae2e7;
    --orange: #fa9f57;
    --pink: #f99287;
    --dark: #202d34;
}

.wrap {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 1rem;
}

svg {
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
}


/* box1 (1,3)*/
#lgc {
    animation: 10s inUp infinite normal;
    animation-delay: .5s;
}

#smc {
    animation: 10s inUp infinite normal;
}

#circ {
    animation: 10s rotateCirc infinite normal;
    transform-origin: 50% 25%;
}

#lgc1 {
    animation: 10s indown infinite normal;
    animation-delay: .5s;
}

#smc1 {
    animation: 10s indown infinite normal;
}

#circ1 {
    animation: 10s rotateCirc1 infinite normal;
    transform-origin: 25% 75%;
}

@keyframes inUp {
    0% {
        transform: translate(0px, 200px);
    }

    10% {
        transform: translate(0, 0px);
    }

    40% {
        transform: translate(0, 0px);
    }

    45% {
        transform: translate(0px, 200px);
    }

    100% {
        transform: translate(0px, 200px);
    }
}

@keyframes indown {
    0% {
        transform: translate(200px, 0px);
    }

    50% {
        transform: translate(200px, 0px);
    }

    55% {
        transform: translate(0, 0);
    }

    95% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(200px, 0px);
    }
}

@keyframes rotateCirc {
    0% {
        transform: scaleY(0);
    }

    5% {
        transform: scaleY(1);
    }

    40% {
        transform: scaleY(1);
    }

    45% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(0);
    }
}

@keyframes rotateCirc1 {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(0);
    }

    55% {
        transform: scaleY(1);
    }

    95% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

/* box2 (2,3)*/
#right-curve {
    fill: var(--blue);
    animation: 10s slideIn infinite normal;
}

#right-curve-bottom {
    fill: var(--pink);
    animation: 10s slideInBottom infinite normal;
}

@keyframes slideIn {
    0% {
        transform: translateY(-200px);
    }

    10% {
        transform: translateY(000px);
    }

    45% {
        transform: translateY(000px);
    }

    55% {
        transform: translateX(300px);
    }

    100% {
        transform: translateY(-200px);
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(200px);
    }

    10% {
        transform: translateY(000px);
    }

    45% {
        transform: translateY(000px);
    }

    55% {
        transform: translateX(300px);
    }

    100% {
        transform: translateY(200px);
    }
}

#left-curve {
    fill: var(--blue);
    animation: 10s slideIn2 infinite normal;
}

#left-curve-bottom {
    fill: var(--pink);
    animation: 10s slideIn2 infinite normal;
}

@keyframes slideIn2 {
    0% {
        transform: translateX(-200px);
    }

    45% {
        transform: translateX(-200px);
    }

    55% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(0px);
    }
}

/* box 3 3 */
#top-orange {
    animation: 10s orangeDown infinite normal;
    animation-delay: .5s;
}

#blue-circle {
    animation: 10s blueCirc infinite normal;
    transform-origin: 25% 75%;
}


@keyframes orangeDown {
    0% {
        transform: translate(-200px, -200px);
    }

    10% {
        transform: translate(0, 0);
    }

    90% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(200px, 200px);
    }
}

@keyframes blueCirc {
    0% {
        transform: scaleY(0);
    }

    5% {
        transform: scaleY(1);
    }

    40% {
        transform: scaleY(1);
    }

    45% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(1);
    }

    95% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

/* box 4 2 2 */
#top-left {
    animation: 10s topLeft infinite normal;
    fill: var(--blue);
}

#top-right {
    animation: 10s topRight infinite normal;
    transform-origin: top;
    fill: var(--blue);
}

#bottom-left {
    animation: 10s bottomLeft infinite normal;
    fill: var(--orange);
    transform-origin: left;
}

#bottom-right {
    animation: 10s bottomRight infinite normal;
    transform-origin: bottom;
}

@keyframes topLeft {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(0);
    }

    55% {
        transform: scaleX(1);
    }

    95% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes topRight {
    0% {
        transform: scaleY(0);
    }

    5% {
        transform: scaleY(1);
    }

    45% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(0);
    }
}

@keyframes bottomLeft {
    0% {
        transform: scaleX(0);
        fill: var(--orange);
    }

    5% {
        transform: scaleX(1);
    }

    45% {
        transform: scaleX(1);
        fill: var(--orange);
    }

    50% {
        transform: scaleX(0);
        fill: var(--pink)
    }

    55% {
        transform: scaleX(1);

    }

    95% {
        transform: scaleX(1);
        fill: var(--pink)
    }

    100% {
        transform: scaleX(0);
        fill: var(--orange);
    }
}

@keyframes bottomRight {
    0% {
        transform: scaleY(0);
        fill: var(--pink);
    }

    5% {
        transform: scaleY(1);
    }

    45% {
        transform: scaleY(1);
        fill: var(--pink);
    }

    50% {
        transform: scaleY(0);
        fill: var(--orange)
    }

    55% {
        transform: scaleY(1);

    }

    95% {
        transform: scaleY(1);
        fill: var(--orange)
    }

    100% {
        transform: scaleY(0);
        fill: var(--pink);
    }
}

/* box 5 (2,3) */
#top-orange-curve {
    fill: var(--orange);
}

#my-circle {
    /* animation: 10s circleAnimation infinite normal; */
}

#bottom-left5 {
    fill: var(--dark);
    animation: 5s bottomLeftAnimation infinite normal;
}

#bottom-right5 {
    fill: var(--dark);
    animation: 5s bottomRightAnimation infinite normal;
    transform-origin: bottom;
}

@keyframes circleAnimation {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(50px);
    }

    50% {
        transform: translate(50px, 100px);
    }
}

@keyframes bottomLeftAnimation {
    0% {
        transform: scaleY(1);
    }

    45% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(0);

    }
}

@keyframes bottomRightAnimation {
    0% {
        transform: scaleY(0);
    }

    85% {
        transform: scaleY(0);
    }

    90% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(1);

    }
}

/* box6 (1,2)*/
#top-curve {
    fill: var(--blue);
    animation: 10s slideInRight infinite normal;
}

#bottom-curve {
    fill: var(--dark);
    animation: 10s slideInLeft infinite normal;
}

@keyframes slideInRight {
    0% {
        transform: translateX(200px);
    }

    10% {
        transform: translateX(000px);
    }

    45% {
        transform: translateX(000px);
    }

    55% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(200px);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-200px);
    }

    10% {
        transform: translateX(000px);
    }

    45% {
        transform: translateX(000px);
    }

    55% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(-200px);
    }
}

#top-curve2 {
    fill: var(--dark);
    animation: 10s slideInRight2 infinite normal;
}

#bottom-curve2 {
    fill: var(--blue);
    animation: 10s slideInLeft2 infinite normal;
}

@keyframes slideInRight2 {
    0% {
        transform: translateX(-200px);
    }

    45% {
        transform: translateX(-200px);
    }

    55% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes slideInLeft2 {
    0% {
        transform: translateX(200px);
    }

    45% {
        transform: translateX(200px);
    }

    55% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(0px);
    }
}
/* box8 */
#top-left-box7{
    fill: var(--dark);
    transform-origin: bottom;
    animation: 10s slideUp infinite normal;
}
#center-left{
    fill: var(--pink);
    animation: 10s slideDown infinite normal;
}
#bottom-right-box7{
    fill: var(--dark);
    animation: 10s slideUp infinite normal;
    transform-origin: bottom;
}
#top-left-box7-2{
    fill: var(--dark);
    transform-origin: bottom;
    animation: 10s slideUp2 infinite normal;
}
#center-left-2{
    fill: var(--pink);
    animation: 10s slideDown2 infinite normal;
}
#bottom-right-box7-2{
    fill: var(--dark);
    transform-origin: bottom;
    animation: 10s slideUp2 infinite normal;
}
@keyframes slideUp {
    0% {
        transform: translateY(200px);
    }

    15% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(200px);
    }

    100% {
        transform: translateY(200px);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-200px);
    }

    15% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(-200px);
    }
}
@keyframes slideUp2 {
    0% {
        transform: translateY(200px);
    }


    60% {
        transform: translateY(200px);
    }
    75% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes slideDown2 {
    0% {
        transform: translateY(-200px);
    }


    60% {
        transform: translateY(-200px);
    }
    75% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}


/* box3 */
#c1 {
    animation: 3s big infinite alternate;
    transform-origin: 50% 50%;
}

@keyframes big {
    0% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(1);
    }
}


#c2 {
    animation: 3s small infinite alternate;
    transform-origin: 50% 50%;
}

@keyframes small {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}


/* box4 */